$services-header-color: white;
$services-header-font-family: Lato-Regular;
$services-header-font-size: 2.5em;
$services-header-font-size-on-mobile: 7vw;
$services-margin-beetwen-header-and-services: 60px;

.section-header {
    display: block;
    margin: 0 auto;
    margin-bottom: $services-margin-beetwen-header-and-services;

    text-align: center;
    font-size: $services-header-font-size;
    font-family: $services-header-font-family;
    color: $services-header-color;

    @media (max-width: 550px) {
        font-size: $services-header-font-size-on-mobile;  
    }
}