$service-section-item-xs-width: 12;
$service-section-item-sm-width: 6;
$service-section-item-md-width: 4;
$service-section-item-lg-width: 4;
$service-section-item-min-height: 140px;
$service-section-item-margin-bottom: 15px;
$service-section-item-margin-bottom-on-mobile: 60px;
$service-section-item-icon-position-top: 30px;
$service-section-item-icon-position-on-mobile: 20px;
$service-section-item-icon-position-on-ssmall-mobile: 30px;
$service-section-item-icon-height: 40px;
$service-section-item-icon-width: 2;
$service-section-item-content-color: white;
$service-section-item-content-width: 8;
$service-section-item-content-width-on-mobile: 9;
$service-section-item-content-title-font-family: Lato-Regular;
$service-section-item-content-description-font-family: Lato-Light;
$service-section-item-content-title-font-size: 1.3em;
$service-section-item-content-margin-beetwen-title-and-description: 5px;
$service-section-item-content-mobile-selector: "2n+1";
$service-section-item-content-float-on-mobile: right;

.service {
    @include make-xs-col($service-section-item-xs-width);
    @include make-sm-col($service-section-item-sm-width);
    @include make-md-col($service-section-item-md-width);
    @include make-lg-col($service-section-item-lg-width);

    min-height: $service-section-item-min-height;
    margin-bottom: $service-section-item-margin-bottom;

    .service-icon {
        @include make-xs-col($service-section-item-icon-width);
        position: relative;
        
        top: $service-section-item-icon-position-top;
        height: $service-section-item-icon-height;   
    }

    .service-content {
        @include make-xs-col($service-section-item-content-width);

        color: $service-section-item-content-color;
        
        .service-title {
            font-family: $service-section-item-content-title-font-family;
            font-size: $service-section-item-content-title-font-size;
            margin-bottom: $service-section-item-content-margin-beetwen-title-and-description;
        }

        .service-description {
            font-family: $service-section-item-content-description-font-family;
        }
    }
}

@media (max-width: 767px) {
    .service {
        min-height: auto;
        margin-bottom: $service-section-item-margin-bottom-on-mobile;

        .service-content {
            @include make-xs-col($service-section-item-content-width-on-mobile);
        }
    }

    .service:nth-child(#{unquote($service-section-item-content-mobile-selector)}) {
        .service-icon,
        .service-content {
            float: $service-section-item-content-float-on-mobile;
        }
        
        .service-icon {
            top: $service-section-item-icon-position-on-mobile;
        }
    }
}

@media (max-width: 430px) {
    .service:nth-child(2n+1) {        
        .service-icon {
            top: $service-section-item-icon-position-on-ssmall-mobile;
        }
    }
}