$welcome-section-height: 90vh;

#welcome-section {
    position: relative;
    display: block;
    width: 100%;
    height: $welcome-section-height;

    @import "partials/navbar";
    @import "partials/header";
    @import "partials/triangle";

    .cover {
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        transform: translate(-12px, -12px);
    }
}