#realizations-section {
    padding-top: 50px;
    padding-bottom: 40px;

    @import "partials/header";

    .realizations {
        display: block;
        width: 80%;
        margin: 0 auto;

        list-style-type: none;
        padding-left: 0;

        @import "partials/realization";
    }
}