$realization-section-item-xs-width: 6;
$realization-section-item-sm-width: 6;
$realization-section-item-md-width: 4;
$realization-section-item-lg-width: 12 / 5;
$realization-section-item-image-spaces: 0.01;
$realization-section-item-image-spaces-on-hover: 0.05;
$realization-section-item-image-spaces-on-click: 0.1;

.realization {
    @include make-xs-col($realization-section-item-xs-width);
    @include make-sm-col($realization-section-item-sm-width);
    @include make-md-col($realization-section-item-md-width);
    @include make-lg-col($realization-section-item-lg-width);

    &:before { // make square
        content: '';
        display: block;
        padding-bottom: 100%;
    }

    .cover {
        transition: transform 0.3s;
        transform: scale(#{1 - $realization-section-item-image-spaces}); 
    }

    &:hover {
        .cover {
            transform: scale(#{1 - $realization-section-item-image-spaces-on-hover});
        }
    }

    &:active {
        .cover {
            transform: scale(#{1 - $realization-section-item-image-spaces-on-click});
        }
    }
}