$welcome-header-background-transparentize-from: 0.5;
$welcome-header-background-transparentize-from-color: black;
$welcome-header-background-transparentize-to: 1;
$welcome-header-background-transparentize-to-color: black;
$welcome-header-font-family: Lato-Light;
$welcome-header-font-size: 4vw;
$welcome-header-padding: 20px 40px;
$welcome-header-width: 80%;

.welcome-header {
    position: absolute;
    display: block;

    top: calc(50%);
    transform: translateY(-50%);
    left: 0;
    width: $welcome-header-width;

    background: linear-gradient(to right, 
        transparentize(
            $color: $welcome-header-background-transparentize-from-color, 
            $amount: $welcome-header-background-transparentize-from), 
        transparentize(
            $color: $welcome-header-background-transparentize-to-color, 
            $amount: $welcome-header-background-transparentize-to));

    color: white;
    font-family: $welcome-header-font-family;
    font-size: $welcome-header-font-size;
    letter-spacing: 3px;
    padding: $welcome-header-padding;

}