$welcome-triangle-sharpness: 40px;
$welcome-triangle-height: 50px;
$welcome-triangle-part-width: 50%;
$welcome-triangle-color: white;
$welcome-triangle-zindex: 2;

&:before,  
&:after { 
    content: ''; 
    position: absolute; 
    bottom: 0; 
    height: 0; 
    border-color: transparent; 
    border-bottom: $welcome-triangle-height solid $welcome-triangle-color;   
    width: calc(50% - #{$welcome-triangle-sharpness}); 
    border-style: solid; 
    z-index: $welcome-triangle-zindex; 
} 

&:before { 
    border-right-width: $welcome-triangle-sharpness; 
    border-left-width: 0; 
    left: 0; 
} 

&:after { 
    border-left-width: $welcome-triangle-sharpness; 
    border-right-width: 0; 
    right:0; 
}