$footer-padding-top: 13px;
$footer-padding-bottom: 10px;
$footer-padding-left-right: 30px;
$footer-background: rgb(83, 43, 117);
$footer-font-color: white;
$footer-font-family: Lato-Light;

footer {
    display: block;
    padding: 0 $footer-padding-left-right;
    padding-top: $footer-padding-top;
    padding-bottom: $footer-padding-bottom;
    overflow: hidden;
    background: $footer-background;
    color: $footer-font-color;

    font-family: $footer-font-family;
    letter-spacing: 1px;

    .copyrights {
        display: inline-block;
        transform: translateY(6px);
    }

    .author {
        float: right;
        transform: translateY(-5px);

        .heart-icon {
            display: inline-block;
            position: relative;
            width: 25px;
            height: 25px; 
            transform: translateY(6px) translateX(-3px);
        }
    }

    @media (max-width: 630px) {
        .author {
            display: none;
        }
        
        .copyrights {
            width: 100%;
            text-align: center;
            transform: none;
        }
    }
}