$contact-section-item-size: 60px;
$contact-section-item-margin: 5px;
$contact-section-item-background: transparentize($color: black, $amount: 0.8);
$contact-section-item-background-on-hover: transparentize($color: black, $amount: 0.7);
$contact-section-item-icon-size: 60%;
$contact-section-item-icon-size-on-hover: 65%;
$contact-section-item-transform-on-click: 0.95;

.contacts {
    display: block;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-left: 0;
    list-style-type: none;

    .item{
        display: inline-block;
        transition: transform 0.3s;

        .contact {
            position: relative;
            display: block;
            margin: $contact-section-item-margin;
            width: $contact-section-item-size;
            height: $contact-section-item-size;
            border-radius: 50%;
            overflow: hidden;
            background: $contact-section-item-background;
            transition: background 0.3s;

            // background image
            .contain {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: $contact-section-item-icon-size;
                height: $contact-section-item-icon-size;

                transition: width 0.3s, height 0.3s;
            }

            &:hover {
                background: $contact-section-item-background-on-hover;

                .contain {
                    width: $contact-section-item-icon-size-on-hover;
                    height: $contact-section-item-icon-size-on-hover;
                }
            }
        }
        
        &:active {
            transform: scale($contact-section-item-transform-on-click);
        }
    }
}