$about-section-padding-top: 40px;
$about-section-padding-bottom: 80px;

#about-section {
    @import "partials/header";
    @import "partials/description";

    padding-top: $about-section-padding-top;
    padding-bottom: $about-section-padding-bottom;
}