$services-section-padding-top: 40px;
$services-section-padding-bottom: 40px;
$services-section-background: linear-gradient(to bottom right, #4b2778, #93278f);

#services-section {
    padding-top: $services-section-padding-top;
    padding-bottom: $services-section-padding-bottom;
    background: $services-section-background;

    @import "partials/header";

    .services {
        width: 90%;
        margin: 0 auto;

        padding-left: 0; // remove ul styles
        list-style-type: none;

        @import "partials/service";
        
        @media (max-width: 767px) {
            width: 95%;
        }
    }
}