$about-description-xs-width: 11;
$about-description-sm-width: 10;
$about-description-md-width: 6;
$about-description-lg-width: 5;
$about-description-font-family: Lato-Light;
$about-description-font-size: 1.3em;
$about-description-font-size-on-mobile: 4.5vw;

.about {
    display: block;
    @include make-xs-col($about-description-xs-width);
    @include make-sm-col($about-description-sm-width);
    @include make-md-col($about-description-md-width);
    @include make-lg-col($about-description-lg-width);

    // center container
    float: none;
    margin: 0 auto; 
    
    font-family: $about-description-font-family;
    font-size: $about-description-font-size;
    text-align: center;
    line-height: 1.5em;

    @media (max-width: 550px) {
        font-size: $about-description-font-size-on-mobile;
    }
}