$about-header-color: rgb(197, 76, 130);
$about-header-font-family: Lato-Regular;
$about-header-font-size: 3em;
$about-header-font-size-on-mobile: 8vw;
$about-margin-beetwen-header-and-description: 25px;

.section-header {
    display: block;
    margin: 0 auto;
    margin-bottom: $about-margin-beetwen-header-and-description;

    text-align: center;
    font-size: $about-header-font-size;
    font-family: $about-header-font-family;
    color: $about-header-color;

    @media (max-width: 550px) {
        font-size: $about-header-font-size-on-mobile;
    }
}